.screen {
    height: 90px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    background-color: #4357692d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
  }
  .preview{
    font-size: 32pt;
  }

  .value{
    font-size: 20pt;
  }